/* Color Palatte */
/*
Independence #555B6E;
Morning Blue #89b0ae;
Powder Blue #bee3db;
Cultured #faf9f9;
Apricot #ffd6ba;
*/

/*----- BODY -----*/

body {
  font-family: "Canela Web", "Big Caslon", "Times New Roman", Times, serif;
  color: black;
  font-weight: 300;
  background-color: #F3E8E2;
}

.big-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: center;
}

/*----- HEADER -----*/

header img {
  max-width: max-content;
  max-height: 100px;
  float:inline-start;
}
header {
  background: #F3E8E2;
  margin: 5px;
  border-radius: 10px;
  width: 97.5%;
  height: fit-content;
  text-align: center;
}
header h1 {
  font-family: GT Pressura Web, Arial Narrow, Arial, sans-serif;
  color: #3150A2;
  font-size: 50px;
  font-weight: 200;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
  margin-top: 0%;
  padding: 5px;
}
::placeholder {
  color: white;
}
header input {
  width: 75%;
  height: 20px;
  padding: 5px;
  margin: 5px;
  color: black;
  background-color: #faf9f9;
  border: .5px solid #3150A2;
}
::placeholder {
  color: grey;
}
.button {
  background-color: #F9F4F1;
  margin: 20px;
	border-radius:5px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
	display:inline-block;
  color: #3150A2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 0.05em;
  text-decoration: none;
  border-radius: 0%;
  border: transparent;
  cursor: default;
}
.button:hover {
  background-color: #edddd4;
}
button:active {
  position: relative;
  top: 1px; 
  background-color: #F3E8E2;
}

/*------ StorytimeList -------*/
.storytime-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px; 
  margin: 0px;
  border-radius: 10px;
}

/*------ StorytimeTile -------*/
.storytime-card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.storytime-card {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  border-radius: 0px;
  width: 250px;
  height: 300px;
  background-color: #edddd4;
}
.storytime-card-detail {
  margin: 5px;
  width: 250px;
  height: 160px;
  align-items: center;
}
.storytime-tile-detail h1 {
  font-size: 2em;
  margin: 5px;
  margin-bottom: 1px;
}
.storytime-button {
  padding: 5px 5px;
  margin: 4px 2px;
  background-color: #F9F4F1;
  color: #3150A2;
	border-radius: 0%;;
  cursor:pointer;
  border: transparent;
}
.storytime-button:hover {
  background-color: #edddd4;
}

/*------ StorytimeView -------*/

/*------ ActivityList -------*/
.activity-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px; 
  margin: 0px;
  border-radius: 10px;
}

/*------ ActivityTile -------*/
.activity-card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.activity-card {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  border-radius: 0px;
  width: 250px;
  background-color: #edddd4;
  height: fit-content;
}
.activity-card-detail {
  margin: 5px;
  width: 250px;
  height: 160px;
  align-items: center;
}
.activity-tile-detail h1 {
  font-size: 2em;
  margin: 5px;
  margin-bottom: 1px;
}
.activity-button {
  padding: 5px 5px;
  margin: 4px 2px;
  background-color: #F9F4F1;
  color: #3150A2;
	border-radius: 0%;;
  cursor:pointer;
  border: transparent;
}
.activity-button:hover {
  background-color: #edddd4;
}
